In [1]:
#Experiment no.5

In [2]:
#Aim :Creation of data frame

In [3]:
#Name:TEjas s Dhande
#Roll no.:11
#sec:A
#sub:ET 1
#date:25-08-2025

In [9]:
# import pandas library
import pandas as pd

In [10]:
df = pd.DataFrame([[10,14,15,11],[12,23,14,12],[12,23,45,12]], columns=["CD","DBMS","DSS","CAO"])

In [11]:
df

   CD  DBMS  DSS  CAO
0  10    14   15   11
1  12    23   14   12
2  12    23   45   12

In [12]:
df.shape

(3, 4)

In [13]:
df.size

12

In [14]:
df.ndim

2

In [16]:
df2=pd.DataFrame([[11,14,10,11]],columns=["CD","DBMS","DSS","CAO"])
df2

   CD  DBMS  DSS  CAO
0  11    14   10   11

In [19]:
df3 = pd.concat([df, df2], ignore_index=True)

In [20]:
df3

   CD  DBMS  DSS  CAO
0  10    14   15   11
1  12    23   14   12
2  12    23   45   12
3  11    14   10   11

In [21]:
df3.shape

(4, 4)

In [22]:
df3["DMM"]=[12,13,15,16]

In [23]:
df3

   CD  DBMS  DSS  CAO  DMM
0  10    14   15   11   12
1  12    23   14   12   13
2  12    23   45   12   15
3  11    14   10   11   16

In [24]:
 # DELETING RECORD FROM  DATFRAME

In [25]:
df4=df3.drop(index=[1])

In [26]:
df4

   CD  DBMS  DSS  CAO  DMM
0  10    14   15   11   12
2  12    23   45   12   15
3  11    14   10   11   16

In [27]:
# DELETING COLUMN FROM DATAFRAME

In [31]:
df5=df3.drop(columns=["DMM"])

In [32]:
df5

   CD  DBMS  DSS  CAO
0  10    14   15   11
1  12    23   14   12
2  12    23   45   12
3  11    14   10   11

In [33]:
#Finding mean of DSS
print("Mean of DSS:",df5["DSS"].mean())

Mean of DSS: 21.0

In [35]:
# finding median of dss
print("Median of DSS:",df5["DSS"].median())

Median of DSS: 14.5

In [36]:
# finding mode of DSS
print("mode of DSS:" ,df5["DSS"].mode())

mode of DSS: 0    10
1    14
2    15
3    45
Name: DSS, dtype: int64

In [37]:
#Finding min of DSS
print("min of DSS:",df5["DSS"].min())

min of DSS: 10

In [38]:
#finding max of dss
print("MAX of DSS:",df5["DSS"].max())

MAX of DSS: 45

In [39]:
# creating a series
# creating student name list 
name=["tejas","vicky","amrita","pushpa"]
name

['tejas', 'vicky', 'amrita', 'pushpa']

In [47]:

# Creating a Series with data, index, and a name
Roll_list = pd.Series(name, index=[1, 2, 3])

print(Roll_list)

ValueError: Length of values (4) does not match length of index (3)